---
import { SITE } from '../config'
import Layout from '../layouts/Layout.astro'
import Main from '../layouts/Main.astro'
import SearchBar from '../components/Search'
import { getPosts } from '../lib/sanity/utils/sanityQueries'

// Retrieve all published articles
const posts = await getPosts()

// List of items to search in
const searchList = posts.map(({ data, slug }) => ({
  title: data.title,
  description: data.description,
  data,
  slug
}))
---

<Layout title={`Search | ${SITE.title}`} activeNav='search'>
  <Main pageTitle='Search' pageDesc='Search any article ...'>
    <SearchBar client:load searchList={searchList} />
  </Main>
</Layout>
